.board__cell{
    padding:5px;
    border: 1px solid black;
    
}

.board__cell--alive{
    background-color: aqua;
    transition: all 1s;
}

.board__cell--dead{
    background-color: black;
}

.control-panel__speed{
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}