body{
    text-align: center;
    color: #20538D;
}

table{
    margin: 0.5rem auto;
}

input[type=text]{
    text-align: center;
}

.button{
    display: inline-block;
    border-radius: 0.2rem;
    border: solid 1px #20538D;
    background: #4479BA;
    color: #FFF;
    padding: 0.3rem;
    text-decoration: none;
    margin-top: 0.3rem;
}

.button:hover{
    border: solid 1px #000;
    background: #20538D;
    color: #FFF;
}

.board__cell{
    padding: 0.2rem;
    border: 1px solid black;
}

.board__cell--alive{
    background-color: aqua;
    transition: all 0.2s;
}

.board__cell--dead{
    background-color: black;
}

.modal{
    text-align: center;
}

.create-board-button{
    margin-top: 0.6rem;
}

.control-panel__speed{
    transform: rotateY(180deg);
}

.control-panel_group{
    margin: 0.6rem;
}